{% extends "tasks/base.html"  %}

{% block title %}Task List{% endblock title %}

{% block content %}
    <h1 class="text-center mb-5">TaskMaster</h1>
    {% for task in tasks %}
        <h2>
            <a href="">{{ task.title }}</a>
        </h2>
        <p class="date">
            Created {{ task.creation }} by {{ task.creator }}
        </p>
            {{ task.description|truncatewords:30|linebreaks }}
            <hr>
    {% endfor %}
    {% include "pagination.html" with page=tasks %}
{% endblock %}